*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}
.header {
  position: relative;
  height: 100vh;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background-position: center;
  background-size: cover;
  background-image: url(../assets/images/mobile/image-header.jpg);
}
@media screen and (min-width: 768px) {
  .header {
    padding: 0;

    background-image: url(../assets/images/desktop/image-header.jpg);
  }
}
@media screen and (min-width: 768px) {
  .menu {
    height: 100px;
    padding-top: 40px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}
.header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  width: 123px;
  height: 24px;
}
.main-menu {
  width: 330px;
  height: 330px;
  position: absolute;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
  gap: 40px;
  font-family: 'Barlow', sans-serif;
  color: rgb(154, 154, 154);
  background-color: white;
}
@media screen and (min-width: 768px) {
  .main-menu {
    width: auto;
    height: 56px;
    top: 0;
    left: 100%;
    transform: translateX(-110%);
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background-image: none;
    background-color: transparent;
  }
}
.hide {
  display: none;
}
.contact {
  width: 140px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  font-family: 'Fraunces', serif;
  color: black;
  background-color: rgb(255, 221, 0);
}
@media screen and (min-width: 768px) {
  .contact {
    background-color: rgb(255, 255, 255);
  }
  .contact:hover {
    background-color: lightblue;
  }
}
.toggle-menu {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 1; /* Orden en el que aparece las cosas en el eje*/
}
@media screen and (min-width: 768px) {
  .burguer {
    display: none;
  }
}
.title {
  width: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  letter-spacing: 10px;
  text-align: center;
  font-size: 20px;
  gap: 20px;
  color: white;
}
@media screen and (min-width: 768px) {
  .title {
    align-items: center;
  }
}
.arrow {
  margin-left: auto;
  margin-right: auto;
} /*text align center y flechas (como es imagen) con el margin auto*/

.egg {
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: black;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .egg {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 768px) {
  .cup {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.text {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  gap: 8px;
}
@media screen and (min-width: 768px) {
  .text {
    width: 445px;
    align-items: start;
    text-align: left;
  }
}
.title-little {
  position: relative;
  top: 10px;
  font-family: 'Fraunces', serif;
  font-size: 40px;
}
.paragraph {
  width: 320px;
  color: rgb(128, 131, 151);
}
@media screen and (min-width: 768px) {
  .paragraph {
    width: 400px;
  }
}
.learn-more {
  border-bottom: 5px rgba(255, 230, 0, 0.572) solid;
}
.learn-more:hover {
  border-bottom: 5px rgb(255, 230, 0) solid;
}
.learn-more-red {
  border-bottom: 5px rgba(236, 72, 72, 0.305) solid;
}
.learn-more-red:hover {
  border-bottom: 5px rgb(236, 72, 72) solid;
}
@media screen and (min-width: 768px) {
  .cherry-orange {
    display: flex;
    flex-direction: row;
    background-color: red;
  }
}
.cherry {
  height: 600px;
  background-position: center;
  background-size: cover;
  background-image: url(../assets/images/mobile/image-graphic-design.jpg);
}
@media screen and (min-width: 768px) {
  .cherry {
    width: 720px;
    background-image: url(../assets/images/desktop/image-graphic-design.jpg);
  }
}
.text-cherry {
  position: relative;
  top: 240px;
  color: rgb(36, 85, 74);
}
@media screen and (min-width: 768px) {
  .title-cherry {
    position: relative;
    margin: 0 auto;
    padding-bottom: 70px;
  }
}
@media screen and (min-width: 768px) {
  .paragraph-cherry {
    display: none;
  }
}
.orange {
  height: 600px;
  background-position: center;
  background-size: cover;
  background-image: url(../assets/images/mobile/image-photography.jpg);
}
@media screen and (min-width: 768px) {
  .orange {
    width: 720px;
    background-image: url(../assets/images/desktop/image-photography.jpg);
  }
}
.text-orange {
  position: relative;
  top: 240px;
  color: rgb(25, 83, 108);
}
@media screen and (min-width: 768px) {
  .text-orange {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.testimonials {
  position: relative;
  top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title-testimonials {
  position: relative;
  left: 40px;
  font-family: 'Fraunces', serif;
  letter-spacing: 5px;
  font-size: 12px;
  color: rgb(167, 170, 173);
}
.card {
  position: relative;
  top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .cards {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

.profile {
  width: 72px;
  border-radius: 50%;
}
.reviews {
  padding: 0 30px;
  text-align: center;
  color: rgb(91, 99, 109);
}
.job {
  position: relative;
  bottom: 50px;
  font-size: 15px;
  font-family: 'Barlow', sans-serif;
  font-weight: 100;
  color: rgb(167, 170, 173);
}
.square {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .square {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
  }
}
.bottom {
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding-top: 50px;
  background-color: rgb(144, 212, 198);
}
.last-menu {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(69, 141, 126);
}
.last-menu:hover {
  color: white;
}
.social-media {
  width: 164px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 60px;
}
